@import "../style";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.container h1 {
  color: $primary-color;
}

.container p {
  font-size: 18px;
}

.home__img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  display: block;
}
