.header {
  background: $primary-color;
  padding: 20px;

  &__nav {
    @include flex-center(row, space-between, center);
    max-width: $max-width;
    margin: auto;
  }

  &__link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}
