.product-card {
  background: white;
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33% - 20px);
  margin-bottom: 20px;

  &__img {
    width: 100%;
    border-radius: $border-radius;
  }

  &__title {
    font-size: 20px;
    margin: 10px 0;
  }

  &__price {
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
  }

  &__species {
    font-size: 16px;
    color: $text-color;
  }

  @include responsive {
    width: 100%;
  }
}
